* {
  box-sizing:border-box;
  background-color: #063970;
}

body {
  margin: 10px;
}

img {
  width: 100px;
  height: 100px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-bottom: 2px solid black;
  clear:both;
}

h1 {
  font-family: 'Permanent Marker', cursive, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

p {
  font: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}
.button-class {
  background-color: gray;
  border: 1px;
  color: black;
  text-align: center;
  padding: 16px 32px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
}
